@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* font-size: 10px; */
    /* background-color: rgb(172, 169, 169); */
}
header{
    background-color:rgba(58, 58, 236, 0.801);
    height: auto;
    justify-content: space-between;
}
.nav{
    width: 90vw;
    margin: 0 auto;
    
}
.navigation{
   /* margin: 0 auto; */
    /* background-color: aqua; */
    
    display: flex;
    justify-content: space-between;
}
.menu-items{
    display: flex;
    list-style: none;
    margin-top: 52px;
    
}
.menu-items li{
    padding: 5px;
    margin-left: 36px;
}
.menu-items a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
}
.login{
    color: #fff;
    background-color: #E02C6D;
    border-radius: 5px;
    padding: 10px 24px;
    margin: 0 50px;
    margin-top: 52px;
    /* position: absolute; */
    
}
.login a{
    text-decoration: none;
    color: #fff;
}
.login:hover{
    background-color: rgb(109, 19, 151);
    
}
.fa-bars{
    display: none;
}
@media (min-width:700px) {
    
}
@media (max-width:700px) {
   .navigation ul{
        display: none;
    }
    .login{
        position: absolute;
        right: 0px;
    }
    .fa-bars{
        display: block;
        color: #fff;
        position: absolute;
        top: 60px;
        font-size: 28px;
    }
}

/* -----------nav end */
.header-heading{
    font-size: 64px;
    color:#fff;
}
.content{
    display: flex;
}
.right-content img{
    width: 556px;
    height: 438px;
    transition: 3s;
    transform: scale(1.1);
}
.right-content img:hover{
    
    transform: translate(-25%, 15%) rotate(-25deg) translate(25%, -15%);
    /* transform: rotate(360deg); */
    /* transform: scaleX(1); */
}
.left-content{
    margin-left: 156px;
    margin-top: 121px;
}
.right-content{
    margin-left: 102px;
    margin-top: 67px;
}
.btn-watch-live{
    color: #fff;
    background-color: #E02C6D;
    border-radius: 5px;
    margin-top: 27px;
    padding: 10px 24px;
    
    text-decoration: none;
    transition: 4s;
}
.btn-watch-live:hover{
    padding: 10px;
   transform: scale(30px,20px);
}


/* --------header end------- */

/* ---------main start------------- */
/* ---------main start------------- */
main{
  margin-top: 70px;
  
}
.players-section{
    width: 90%;
    margin: 0 auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    
}
.player{
    width: 330px;
    height: 474px;
    margin-left: 39px;
    padding: 15px;
    background: #FFFFFF;
box-shadow: 20px 20px 20px 15px rgba(0, 0, 0, 0.10);
border-radius: 10px;

}
.player-img{
    margin-left: 3px;
}
.player-description{
margin-left: 12px;
}
.player-img img{
    width: 300px;
    height: 256px;
}
.player-description h2{
    font-size: 28px;
    font-weight: 700;
}
.player-description p{
    font-size: 16px;
}
/* ///////////////////////////////blog///////////////////////// */
.blog-section{
    width: 90vw;
    margin: 0 auto;
}
.blog-section h2{
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    
}
.blog{
    margin-left: 60px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 10px #e2e2e2;
    transition: 1s;
}
.blog:hover{
    padding: 20px;
    transform: scale(20px);
}
.blog-description h2{
    color: blue;
}
.blog img{
    margin-left: 60px;
}

/* <!-- ///////////////Highlights start//////////// --> */
.highlights{
    margin-top: 165px;
}
.highlight-content{
    display: flex;
    justify-content: center;
}
.highlights__left-content{
    margin-left: 140px;
    width: 469px;
    height: auto;
    margin-top: 60px;
}
.highlights__right-content{
    margin-left: 80px;
    margin-right: 156px;
}

.highlights__right-content img{
    width: 587px;
    height: 427px;
}
.highlight-btn{
    
    
    margin-top: 28px;
   
}
.highlight-btn a{
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 5px;
    text-decoration: none;
}
/* -----------main end----------- */
/* -----------main end----------- */
        
.animation-title{
    font-size: 3rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgb(160, 154, 154);
    margin-top: 60px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.animation-paragraph{
    margin-top: 450px;
    width: 90vw;
    text-align: center;
    position: absolute;
    left: 50px;
}
.set{
    width: auto;
    height: auto;
}
.show{
    width: 50%;
    height: 400px;
    background-image: url(img/albayt_top.jpg);
    animation: slider 7s infinite linear;
    border-radius: 10px;
    position: static;
    position: absolute;
    left: 25%;
    margin-bottom: 100px;
}
@keyframes slider {
    0%{
        background-image: url(img/alrayyan_top.jpg);
    }
    20%{
        background-image: url(img/alwakrah_top.jpg);
    }
    50%{
        background-image: url(img/khalifanew_top.jpg);
    }
    75%{
        background-image: url(img/lusail2022.jpg);
    }
}/* -----------------------bonus section-------- */



/* ---------------footer start---------- */
/* ---------------footer start---------- */

footer{
    
    width: 90vw;
    margin: 0 auto;
    /* background-color: aqua; */
}
.footer-content{
    margin-top: 158px;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
footer img{
    width: 483px;
    height: 110px;
    /* margin: 0 auto; */
}


@media (max-width:700px) {
    

    
    /* //////////////////////////////////////// */
    .header-heading{
        margin-bottom: 25px;
        font-size: 26px;
    }
    .right-content img{
        width: 100%;
        height: 100%;
    }
    .content{
        display: flex;
       flex-direction: column;
       margin-right: 50px;
    }
    .right-content{
        margin-left: 55px;
    }
    .left-content{
        margin-left: 95px;
    }
  
    .players{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .player{
        width: auto;
    }
    .players-section{
        width: 100%;
        margin: 0 auto;
    }
    .highlight-content{
        
      display: flex;
      flex-direction: column;
      
    }
    .highlights__left-content{
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 30px;
        width: auto;
        height: auto;
        margin-top: 60px;
    }
    .highlights__right-content{
        margin-left: 20px;
        

    }
   
    .highlights__right-content img{
       
        width: 300px;
        height: 227px;
        
    }
    .blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        
    }
    .blog img{
        margin-right: 40px ;
    }
    .animation-paragraph{
        width: auto;
        
    }
   
    footer{
    
        width: auto;
        /* margin: 0 auto; */
        /* background-color: aqua; */
    }
    .footer-content{
        margin-top: 158px;
       display: flex;
       flex-direction: column;
       align-items: center;
     
    }
    footer img{
        /* width: 483px;
        height: 110px; */
        /* margin: 0 auto; */
        width: 80%;
    }

    
}

